@model EFCoreCRUD_operations.Models.Employees;
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post" asp-action="Create">

    <input asp-for="Name" />
    <label asp-validation-for="Name"></label>
    <br />
    <input asp-for="salary" />
    <label asp-validation-for="salary"></label>

    <br/>
    <input type="submit" value="Submit" />

</form>

